<div class="layout-container flex flex-col  h-screen text-black dark:text-white">
  <app-header class="fixed top-0 left-0 right-0 z-50"></app-header>

  <div class="flex flex-grow pt-[64px] pb-[42px] overflow-hidden scrollbar-hide">
    <!-- <ng-container *ngIf="showSidebar">
      <app-side-nav class="w-60 bg-gray-100 dark:bg-gray-800"></app-side-nav>
    </ng-container> -->

    <main class="flex-grow overflow-y-auto py-4 px-6">
      <router-outlet></router-outlet>
    </main>
  </div>

  <app-footer class="fixed bottom-0 left-0 right-0 z-50"></app-footer>
</div>
